# Python
__pycache__/
*.pyc

# R
.Rhistory
.RData

# Conda
.env
.venv

# macOS
.DS_Store

# Temporary files
tmp/
temp/

# SPAdes temporary files
*/tmp/

# Logs
*.loggenomes/
snippy/
gubbins/
pa_complete_dehydrated/
st111_raw/
pao1_ref/
*.zip
*.fna
*.fasta
*.bam
*.bai
*.pdf
